*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
    font-family: "Outfit", sans-serif;
}

:root{
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);

    --br : 10px;

    --fw400 : 400;
    --fw700 : 700;
}

p{
    font-size: 15px;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    background-color: var(--Light-gray);
}

.card-wrap{
    width: 250px;
    aspect-ratio: 2/3;
    background-color: var(--White);
    border-radius: var(--br);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    text-align: center;
    box-shadow: 0px 10px 15px rgba(34, 34, 34, 0.13);
}

.qr-img{
    width: 100%;
    height: auto;
    border-radius: var(--br);
}

.bold{
    font-size: 17px;
    color: var(--Dark-blue);
    font-weight: var(--fw700);
}

.para{
    color: var(--Grayish-blue);
}


/* mobile design */

@media screen and (max-width : 760px) {
    .card-wrap{
        width: 80%;
    }
    .bold{
        font-size: 20px;
    }
}